/* apply to everything */
* {
    font-family: "Libre Franklin", sans-serif;
}

/* FONTS */

/* overall font */
@font-face {
    font-family: "Libre Franklin";
    src: url("https://fonts.googleapis.com/css?family=Libre+Franklin");
}

/* title font */
@font-face {
    font-family: "Outfit";
    src: url("https://fonts.googleapis.com/css?family=Lobster");
}

/* handwriting font for "Rachael Lang" */
@font-face {
    font-family: "Shantell Sans";
    src: url("https://fonts.googleapis.com/css?family=Shantell+Sans");
}

/* END FONTS */

/* GENERAL */
h1 {
    font-size: 36px;
    font-family: "Outfit";
    /* font-weight: bold; */
    line-height: 2;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
    line-height: 1.75;
}

/* container used by all pages except home */
.container {
    background-color: #e8faf2;
    min-height: 100vh;
    /* justify-content: center; */
    padding: 30px;
}

/* change links to mint green */
.container a {
    color: darkcyan;
}


/* built-in bootstrap button styling, copied from documentation */
/* change from blue to mint-ish green */
.btn-primary {
    color: #fff;
    background-color: mediumaquamarine;
    border-color: #5ac497;
}

.btn-primary:hover {
    color: #fff;
    background-color: #49a37e;
    border-color: #3e8c6c;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 221, 170, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: mediumaquamarine;
    border-color: mediumaquamarine;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3e8c6c;
    border-color: #3e8c6c;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 221, 170, 0.5);
}

/* end bootstrap */
/* END GENERAL */

/* HOME PAGE */

/* the "Rachael Lang" text */
.name {
    font-size: 60px;
    font-family: "Shantell Sans";
}

.main-img {
    border-radius: 50%;
    filter: drop-shadow(10px 10px 10px grey);
}

/* END HOME PAGE */

/* ABOUT PAGE */


/* END ABOUT PAGE */


/* EXPERIENCE PAGE */

.experience-entry {
    display: flex;
    justify-content: left;
    padding-left: 30px;
    column-gap: 30px;
    margin-bottom: 50px;
}

/* END EXPERIENCE PAGE */

/* PROJECTS PAGE */


/* END PROJECTS PAGE */


.text-container {
    text-align: center;
    padding: 20px;
    margin: 40px;
    /* border-style: solid; */
    /* for troubleshooting */
}

/* side-by-side arrangement of elements */
.content-container {
    margin: 50px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    /* border-style: dotted; */
    /* for troubleshooting */
}

.image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* HEADER */

/* TODO: fix margins/padding, current design not responsive */
/* something about max width, maybe? */
.header {
    /* TODO: implement sticky */
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    /* padding-left: 200px;
    padding-right: 200px; */
    background-color: aliceblue;
}

.logo {
    display: flex;
    align-items: center;
}

.header-title,
.header-title:hover,
.header-title:focus {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    font-family: "Shantell Sans";
    color: mediumaquamarine;
    display: flex;
    align-items: center;
}

.header-list {
    gap: 20px;
    list-style: none;
    display: flex;
}

.header-tab,
.header-tab:hover {
    text-decoration: none;
    font-family: "Libre Franklin";
    font-size: 20px;
    font-weight: 600;
    color: mediumaquamarine;
}

/* TODO: implement custom focus ring */
/* .header-tab:focus {
    display: inline-flex;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 0.25rem;
    --bs-focus-ring-color: rgba(40, 167, 69, 0.25);
} */


/* END HEADER */

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: aliceblue;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    color: darkslategray;
    /* border-style: solid; */
}

/* font awesome icons in footer */
.font-awesome,
.font-awesome:visited,
.font-awesome:hover,
.font-awesome:active {
    color: mediumaquamarine;
    text-decoration: none;
}

/* END FOOTER */