/* apply to everything */
* {
    font-family: "Libre Franklin", sans-serif;
}

/* FONTS */

/* overall font */
@font-face {
    font-family: "Libre Franklin";
    src: url("https://fonts.googleapis.com/css?family=Libre+Franklin");
}

/* title font */
@font-face {
    font-family: "Outfit";
    src: url("https://fonts.googleapis.com/css?family=Lobster");
}

/* handwriting font for "Rachael Lang" */
@font-face {
    font-family: "Playpen Sans";
    src: url("https://fonts.googleapis.com/css?family=Playpen+Sans");
}

/* END FONTS */

/* GENERAL */
.margins {
    margin-left: 50px;
    margin-right: 50px;
}

.h1 {
    font-size: 36px;
    font-family: "Outfit";
}
/* END GENERAL */

/* HOME PAGE */

/* the "Rachael Lang" text */
.name {
    font-size: 60px;
    font-family: "Playpen Sans";
}

.home-container {
    background-color: lavender;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
/* END HOME PAGE */

/* ABOUT PAGE */



/* END ABOUT PAGE */


/* EXPERIENCE PAGE */



/* END EXPERIENCE PAGE */

/* PROJECTS PAGE */
.projects-container {
    background-color: lemonchiffon;
    min-height: 100vh;
    padding: 100px;
}


/* END PROJECTS PAGE */


.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-container {
    text-align: center;
    padding: 20px;
    margin-right: 100px;
}





.container {
    background-color: lemonchiffon;
    min-height: 100vh;
    padding: 100px;
}



.content-container {
    margin: 50px;
    padding: 50px;
    display: flex;
    align-items: flex-start;
}

.about {
    background-color: lightcyan;
    min-height: 100vh;
    justify-content: left;
}

.experience {
    background-color: lemonchiffon;
    min-height: 100vh;
    display: flex;
    justify-content: left;
}

.header {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}



.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 16px;
}

.header-title {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #3eb489;
}

.header-text {
    text-decoration: none;
    color: #3eb489;
}

.logo {
    display: flex;
    align-items: center;
}

.image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.experience-entry {
    /* background-color: mistyrose; */
    display: flex;
    justify-content: left;
    padding-left: 20px;
    column-gap: 20px;
    margin: 30px;
}

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
}

/* font awesome icons in footer */
.font-awesome,
.font-awesome:visited,
.font-awesome:hover,
.font-awesome:active {
    color: mediumaquamarine;
    text-decoration: none;
}

/* END FOOTER */