/* apply to everything */
* {
    font-family: "Libre Franklin", sans-serif;
}

/* FONTS */

/* overall font */
@font-face {
    font-family: "Libre Franklin";
    src: url("https://fonts.googleapis.com/css?family=Libre+Franklin");
}

/* title font */
@font-face {
    font-family: "Outfit";
    src: url("https://fonts.googleapis.com/css?family=Lobster");
}

/* handwriting font for "Rachael Lang" */
@font-face {
    font-family: "Playpen Sans";
    src: url("https://fonts.googleapis.com/css?family=Playpen+Sans");
}

/* END FONTS */

/* GENERAL */
.margins {
    margin-left: 50px;
    margin-right: 50px;
}

.h1 {
    font-size: 36px;
    font-family: "Outfit";
}

.container {
    background-color: lightcyan;
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    padding: 100px;

}

/* END GENERAL */

/* HOME PAGE */

/* the "Rachael Lang" text */
.name {
    font-size: 60px;
    font-family: "Playpen Sans";
}

.home-container {
    background-color: lavender;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* END HOME PAGE */

/* ABOUT PAGE */



/* END ABOUT PAGE */


/* EXPERIENCE PAGE */

.experience-entry {
    display: flex;
    justify-content: left;
    padding-left: 30px;
    column-gap: 30px;
    margin-bottom: 50px;
}

/* END EXPERIENCE PAGE */

/* PROJECTS PAGE */
.projects-container {
    background-color: lemonchiffon;
    min-height: 100vh;
    padding: 100px;
}


/* END PROJECTS PAGE */


.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-container {
    text-align: center;
    padding: 20px;
    margin-right: 100px;
}

.content-container {
    margin: 50px;
    padding: 50px;
    display: flex;
    align-items: flex-start;
}



.image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* HEADER */

.header {
    position: sticky;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.logo {
    display: flex;
    align-items: center;
}

.header-title,
.header-title:hover,
.header-title:focus {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    font-family: "Playpen Sans";
    color: #3eb489;
    display: flex;
    align-items: center;

}

.header-list {
    gap: 20px;
    list-style: none;
    display: flex;
    align-items: center;
}

.header-tab,
.header-tab:hover {
    text-decoration: none;
    font-family: "Libre Franklin";
    font-size: 20px;
    color: #3eb489;
}

/* TODO: implement custom focus ring */
/* .header-tab:focus {
    display: inline-flex;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 0.25rem;
    --bs-focus-ring-color: rgba(40, 167, 69, 0.25);
} */


/* END HEADER */

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;

}

/* font awesome icons in footer */
.font-awesome,
.font-awesome:visited,
.font-awesome:hover,
.font-awesome:active {
    color: mediumaquamarine;
    text-decoration: none;
}

/* END FOOTER */